@charset "UTF-8";
/* Gotham */
@import "../assets/fonts/gotham/stylesheet.css";
/* Icons */
@import "../assets/icons/style.css";
.tum-text-orange {
  color: #ff1f01 !important;
}

.tum-orange {
  background-color: #ff1f01 !important;
}

.tum-light-orange {
  background-color: #ff5e14 !important;
}

.tum-text-red {
  color: #922421 !important;
}

.tum-gray {
  background-color: #3c3c3c;
}

.tum-text-gray {
  color: #3c3c3c;
}

.bg-right {
  background-position: right !important;
}

.bg-contain {
  background-size: contain;
}

.like-p {
  font-size: 16px;
  color: black;
}

/**
 Flex things
 */
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-align-stretch {
  align-content: stretch;
  align-items: stretch;
}

.flex-align-start {
  align-items: flex-start !important;
  align-content: flex-start !important;
}

.flex-align-end {
  align-items: flex-end !important;
  align-content: flex-end !important;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.text-big {
  font-size: 1.3rem;
}

.w-100 {
  width: 100%;
}

.bg-top {
  background-position: top;
}

.bg-center {
  background-position: center;
}

.bg-bottom {
  background-position: bottom !important;
}

.bg-cover {
  background-size: cover;
}

.images-grid {
  overflow: hidden;
}
.images-grid img {
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  width: calc(30% - 30px);
  max-width: 100px;
}

.no-margin {
  margin: 0 !important;
}

.p-40 {
  padding: 40px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.text-right {
  text-align: right !important;
}

.abs-top-center {
  position: absolute;
  top: 0;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 420px) {
  .no-pad-on-small {
    padding: 0 !important;
  }

  .no-bg-on-small {
    background-image: none !important;
  }
}
body {
  font-family: "Gotham", "Times New Roman", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

nav {
  z-index: 999;
}

.col {
  z-index: 1;
}

.line-before:before, h2:before {
  content: "";
  margin-bottom: 5px;
  height: 4px;
  margin-right: 7px;
  display: inline-block;
  width: 40px;
  background-color: #ff1f01;
}
.line-before.long-line:before, h2.long-line:before {
  width: 80px;
  height: 5px;
  margin-bottom: 3px;
}

.line-center {
  position: relative;
  margin-bottom: 20px;
}
.line-center:before {
  content: "";
  width: 30%;
  max-width: 200px;
  position: absolute;
  left: 50%;
  height: 4px;
  transform: translateX(-50%);
  bottom: -10px;
  background-color: #ff1f01;
}

h2 {
  color: #ff1f01;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2.no-line:before {
  content: none;
}

h3 {
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.3rem;
  text-transform: uppercase;
}
h3.xl {
  font-size: 2.1rem;
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -1;
  color: black;
}

.list-check li {
  padding-left: 40px;
  margin-bottom: 25px;
  position: relative;
}
.list-check li:before {
  font-family: "tumaca";
  content: "";
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff1f01;
  display: inline-block;
  margin-right: 10px;
}

.panel {
  padding: 10px;
  margin: 20px 0;
}

@media screen and (max-width: 420px) {
  h4 {
    font-size: 1.4rem;
  }

  h2.long-line:before {
    width: 40px;
  }

  .panel {
    overflow-x: scroll;
  }
}
p, li {
  color: black;
  font-size: 1.2rem;
}

section {
  background: center no-repeat;
  background-size: cover;
}

table {
  background-color: #ffd8a9;
  color: #922421;
}
table thead {
  background: #d8d8d8;
  background: -moz-linear-gradient(left, #d8d8d8 0%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d8d8d8), color-stop(100%, white));
  background: -webkit-linear-gradient(left, #d8d8d8 0%, white 100%);
  background: -o-linear-gradient(left, #d8d8d8 0%, white 100%);
  background: -ms-linear-gradient(left, #d8d8d8 0%, white 100%);
  background: linear-gradient(to right, #d8d8d8 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d8d8d8", endColorstr="#ffffff", GradientType=1 );
  font-weight: 600;
}
table tr {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
table td, table th {
  text-align: center;
  border-left: 2px solid white;
}

main > .row {
  margin-bottom: 0;
}

.row > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

img.icon {
  width: 40px;
  height: auto;
}

.above-before {
  margin-top: -200px;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
.dropdown-content {
  height: auto !important;
  width: auto !important;
  top: 100% !important;
}
.dropdown-content li:after {
  display: block;
  content: "";
  border-bottom: solid 2px #ff1f01;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.dropdown-content li:hover:after {
  transform: scaleX(1);
}
.dropdown-content a {
  font-size: 14px !important;
}

.circle-text {
  display: flex;
  align-items: center;
  align-content: center;
  width: 70px;
  justify-items: center;
  height: 70px;
  padding-left: 7px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
  color: #ff1f01;
}

.circle-section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 80px;
}

.section-text {
  max-width: calc(1280px - 41.6666666667%);
}

.floating-circle {
  position: relative;
}
.floating-circle .floating {
  position: absolute;
  top: 30px;
  border-radius: 50%;
  background-color: #fff;
  right: -30px;
  height: 70px;
  width: 70px;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.floating-circle .floating img {
  width: 100%;
}

.tum-btn {
  font-family: "Gotham", sans-serif;
  background-color: #ff1f01;
  color: white;
  border-radius: 15px;
}
.tum-btn:hover {
  background-color: #ff3e0a;
}

header .head {
  background-color: black;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
}

nav {
  background-color: white;
}
.scrolled nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}
nav .brand-logo {
  display: inline-block;
  height: 64px;
}
nav .brand-logo img {
  max-height: 64px;
}
nav a {
  color: black;
  position: relative;
  outline: none !important;
}
nav .main-menu a {
  color: black;
  font-weight: 600;
}
nav .nav-button {
  position: relative;
  z-index: 21;
  width: 26px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-top: 20px;
}
nav .nav-button span {
  width: 100%;
  float: left;
  margin-bottom: 4px;
  height: 2px;
  background: #000;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
nav a.dropdown-trigger:after {
  border-color: black transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: calc(50% - 2px);
  right: 5px;
}

.dropdown-content {
  overflow: visible;
}
.dropdown-content li {
  position: relative;
}
.dropdown-content li .dropdown-content {
  top: 0 !important;
  left: 0 !important;
  transform: translateX(-100%) scaleX(1) scaleY(1) !important;
}

.collapsible-header:after {
  border-color: black transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 420px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 22;
  }
  nav .brand-logo img {
    width: 170px;
    margin-top: 5px;
  }
}
footer ul, footer li {
  list-style: disc;
  color: white;
}
footer img {
  max-height: 80px;
}
footer .row {
  margin-bottom: 0;
}
footer .row > .container {
  padding: 15px;
}

.page-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 700px;
}
.page-hero .slick-track {
  height: 99vh;
}
.page-hero .slide-item {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-hero .slide-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% + 40%);
  z-index: 1;
}
.page-hero .slide-item .title {
  font-size: 4rem;
  color: #474747;
}
.page-hero .slide-item .info {
  width: 80%;
  max-width: 550px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.page-hero .slide-item .info p, .page-hero .slide-item .info .like-p {
  color: #474747;
  font-size: 1.7rem;
}

@media screen and (max-width: 375px) {
  .page-hero .slide-item .title {
    font-size: 3rem;
  }
}
.slider-clients {
  margin-top: 40px;
}
.slider-clients .slide-item {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}
.slider-clients .slide-item img {
  max-height: 140px;
}

.col > a {
  width: 100%;
  display: inline-block;
}

.card-0 {
  background-color: #e3e3e3;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  min-height: 450px;
  width: 100%;
}
.card-0.small-size {
  min-height: 300px;
}
.card-0.small-size span.icon {
  font-size: 7rem;
}
.card-0 img.icon {
  height: 95px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: auto;
}
.card-0 span.icon {
  color: #ff1f01;
  font-size: 6.5rem;
}
.card-0 .info {
  width: 75%;
  font-family: "Gotham", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.card-0 p {
  color: #3c3c3c;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;
}

.card-1 {
  padding: 30px;
  background-color: white;
  margin-bottom: 20px;
  height: 173px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.card-1 .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: black;
}
.card-1 [class^=tm-], .card-1 [class*=" tm-"] {
  color: #ff1f01;
  font-size: 3rem;
}
.card-1 img {
  max-width: 50px;
}
.card-1 .bar {
  width: 0;
  height: 10px;
  transition: all 0.6s;
  background-color: #ff1f01;
}
.card-1 h3 {
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
  font-weight: 500;
  font-size: 1.15rem;
  margin-bottom: 0;
}
.card-1:hover .bar {
  width: calc(100% - 70px);
}
.card-1:hover h3 {
  color: #ff1f01;
}

.stats {
  background-color: #ff1f01;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 0 15px;
}
.stats p {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  color: white;
}
.stats strong {
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 2.3rem;
}

.banner {
  background-position: center;
  background-size: cover;
  height: 450px;
  margin: 100px 0 40px;
}
.banner .container {
  position: relative;
  height: 100%;
}
.banner .featured-img {
  height: 100%;
  position: absolute;
  left: 0;
  top: -80px;
}
.banner .btn-group {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.banner .btn-group img {
  margin-bottom: 20px;
  max-width: 220px;
}
.banner.reversed .featured-img {
  height: 100%;
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
}
.banner.reversed .btn-group {
  right: auto;
  left: 0;
}

.vertical-badge {
  background-color: #ff1f01;
  width: 100%;
  max-width: 400px;
  border-radius: 30px;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 90px;
  padding: 10px 10px 10px 120px;
}
.vertical-badge img {
  height: 70px;
  margin-right: 20px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 940px) {
  .vertical-badge {
    width: calc(50% - 21px);
  }
}
@media screen and (max-width: 420px) {
  .card-0 {
    height: auto;
    min-height: 0;
  }
  .card-0 img.icon {
    height: 60px;
    margin: 10px 0;
  }
  .card-0 p {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .card-0 span.icon {
    font-size: 3em;
    margin-top: 20px;
  }
}
.single-header {
  height: 75vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.single-header h1 {
  width: 60%;
  margin: 50px 0;
  color: black;
  padding-left: 70px;
  position: relative;
  text-transform: uppercase;
}
.single-header h1 strong {
  color: black;
}
.single-header h1:before {
  top: 30px;
  position: absolute;
  left: 0;
  content: "";
  height: 7px;
  display: inline-block;
  width: 60px;
  background-color: #ff1f01;
}
.single-header .line-over {
  background: url(../assets/img/red-line.png) no-repeat center;
  position: absolute;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  width: 200px;
  background-size: 200px 100%;
  bottom: 0;
}
.single-header:before {
  content: "";
  position: absolute;
  right: 0;
  width: calc(40% - 75px);
  height: 30px;
  top: 0;
  background-color: #922421;
}
.single-header:after {
  content: "";
  position: absolute;
  left: 0;
  width: calc(60% - 75px);
  height: 30px;
  bottom: 0;
  background-color: #922421;
}

.single-header-2 {
  height: 85vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.single-header-2 h1 {
  margin: 30px 40px;
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  z-index: 2;
}
.single-header-2 h1 strong {
  font-weight: 400;
  font-size: 7rem;
  display: block;
}
.single-header-2 h1:after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  width: 100%;
  margin-top: 20px;
}
.single-header-2 .background-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/**
 * Used for products header
 */
.single-header-3 {
  height: 95vh;
  min-height: 700px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
}
.single-header-3 .product-image, .single-header-3 .row .product-image {
  position: absolute;
  bottom: 30px;
  right: 0;
}
.single-header-3 .container {
  height: 100%;
  position: relative;
}
.single-header-3 .info {
  position: absolute;
  bottom: 30px;
  left: 0;
}
.single-header-3 .info img {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}
.single-header-3 .title {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 50px;
  margin-top: 50px;
  background-color: #ff1f01;
  color: white;
  display: inline-block;
  font-weight: 400;
  min-width: 30%;
  padding: 10px 20px;
}
.single-header-3 .title h1 {
  font-size: 3rem;
  margin: 10px 0;
}
.single-header-3 .title strong {
  font-weight: 600;
  display: block;
}
.single-header-3 .title img {
  max-height: 50vh;
}

.single-header-4 {
  height: calc(90vh - 47px);
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
}
.single-header-4 .background-overlay {
  background-size: 75% 100%;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.single-header-4 .container {
  position: relative;
  z-index: 2;
  height: 100%;
}
.single-header-4 .product-image {
  padding-top: 15%;
}
.single-header-4 .title {
  z-index: 2;
  position: absolute;
  left: 0;
  color: #fff;
  top: 42%;
  transform: translateY(-50%);
}
.single-header-4 .title h1 {
  font-size: 5rem;
}
.single-header-4 .title h1.sm {
  font-size: 3.5rem;
}

@media screen and (max-width: 940px) {
  .single-header h1 {
    width: 60%;
  }
  .single-header .line-over {
    left: 70%;
  }
  .single-header:before {
    width: calc(30% - 75px);
  }
  .single-header:after {
    width: calc(70% - 75px);
  }

  .single-header-2 {
    height: 70vh;
  }

  .single-header-3 {
    height: 600px;
    min-height: 0;
  }
}
@media screen and (max-width: 420px) {
  .single-header-2 {
    justify-content: center;
  }
  .single-header-2 h1 {
    font-size: 2rem;
  }
  .single-header-2 h1 strong {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
