.col > a{
  width: 100%;
  display: inline-block;
}

.card-0{
  background-color: $tm-light-gray;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  min-height: 450px;
  width: 100%;

  &.small-size{
    min-height: 300px;
    span.icon{
      font-size: 7rem
    }
  }
  img.icon{
    height: 95px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: auto;
  }
  span.icon{
    color: $tm-orange;
    font-size: 6.5rem;
  }
  .info{
    width: 75%;
    font-family: 'Gotham', sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  p{
    color: $tm-gray;
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 400;
  }
}
.card-1{
  padding: 30px;
  background-color: white;
  margin-bottom: 20px;
  height: 173px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: black;
  }
  [class^="tm-"], [class*=" tm-"]{
    color: $tm-orange;
    font-size: 3rem;
  }
  img{
    max-width: 50px;
  }
  .bar{
    width: 0;
    height: 10px;
    transition: all .6s;
    background-color: $tm-orange;
  }
  h3{
    color: rgba(0, 0, 0, 0.8);
    transition: all .4s;
    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 0;
  }
  &:hover{
    .bar{
      width: calc(100% - 70px);
    }
    h3{
      color: $tm-orange;
    }
  }

}
.stats{
  background-color: $tm-orange;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 0 15px;
  p{
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    color: white;
  }
  strong{
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 2.3rem;
  }
}

.banner{
  background-position: center;
  background-size: cover;
  height: 450px;
  margin: 100px 0 40px;
  .container{
    position: relative;
    height: 100%;
  }
  .featured-img{
    height: 100%;
    position: absolute;
    left: 0;
    top: -80px;
  }
  .btn-group{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    img{
      margin-bottom: 20px;
      max-width: 220px;
    }
  }

  &.reversed{
    .featured-img{
      height: 100%;
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
    }

    .btn-group{
      right: auto;
      left: 0;
    }
  }
}

.vertical-badge{
  background-color: $tm-orange;
  width: 100%;
  max-width: 400px;
  border-radius: 30px;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 90px;
  padding: 10px 10px 10px 120px;
  img{
    height: 70px;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 940px){
  .vertical-badge{
    width: calc(50% - 21px);
  }
}
@media screen and (max-width: 420px) {
  .card-0{
    height: auto;
    min-height: 0;
    img.icon{
      height: 60px;
      margin: 10px 0;
    }
    p{
      margin-top: 5px;
      font-size: 1.2rem;
    }
    span.icon{
      font-size: 3em;
      margin-top: 20px;
    }
  }
}
