body {
  font-family: "Gotham", "Times New Roman", sans-serif;
  overflow-x: hidden;
  width: 100%;
}
nav{
  z-index: 999;
}
.col{
  z-index: 1;
}
.line-before{
  &:before{
    content: "";
    margin-bottom: 5px;
    height: 4px;
    margin-right: 7px;
    display: inline-block;
    width: 40px;
    background-color: $tm-orange;
  }
  &.long-line:before{
    width: 80px;
    height: 5px;
    margin-bottom: 3px;
  }
}

.line-center{
  position: relative;
  margin-bottom: 20px;
  &:before{
    content: "";
    width: 30%;
    max-width: 200px;
    position: absolute;
    left: 50%;
    height: 4px;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: $tm-orange;
  }
}

h2{
  color: $tm-orange;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  @extend .line-before;
  &.no-line:before{
    content: none;
  }
}

h3{
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.3rem;
  text-transform: uppercase;
  &.xl{
    font-size: 2.1rem;
  }
}

h4{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
}
h5{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -1;
  color: black;
}

.list-check{
  li{
    padding-left: 40px;
    margin-bottom: 25px;
    position: relative;
    &:before{
      font-family: "tumaca";
      content: "\e920";
      font-size: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      color: $tm-orange;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.panel{
  padding: 10px;
  margin: 20px 0;
}
@media screen and (max-width: 420px){
  h4{
    font-size: 1.4rem;
  }
  h2.long-line:before{
    width: 40px;
  }
  .panel{
    overflow-x: scroll;
  }
}

p, li{
  color: black;
  font-size: 1.2rem;
}

section{
  background: center no-repeat;
  background-size: cover;
}

table{
  background-color: $tm-table-orange;
  color: $tm-red;
  thead{
    background: rgba(216,216,216,1);
    background: -moz-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,216,216,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff', GradientType=1 );
    font-weight: 600;
  }
  tr{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  td, th{
    text-align: center;
    border-left: 2px solid white;

  }

}
main > .row{
  margin-bottom: 0;
}

.row > .container{
  padding-top: 30px;
  padding-bottom: 30px;
}
img.icon{
  width: 40px;
  height: auto;
}

.above-before{
  margin-top: -200px;
}
@media only screen and (min-width: 993px){
  .container {
    width: 85%;
  }
}
.dropdown-content{
  height: auto !important;
  width: auto !important;
  top: 100% !important;
  li{
    &:after {
      display:block;
      content: '';
      border-bottom: solid 2px $tm-orange;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;

    }
    &:hover:after { transform: scaleX(1); }
  }
  a{
    font-size: 14px !important;
  }
}
.circle-text{
  display: flex;
  align-items: center;
  align-content: center;
  width: 70px;
  justify-items: center;
  height: 70px;
  padding-left: 7px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
  color: $tm-orange;
}
.circle-section{

  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 80px;
  }
}

.section-text{
  max-width: calc(1280px - 41.6666666667%);
}
.floating-circle{
  position: relative;

  .floating{
    position: absolute;
    top: 30px;
    border-radius: 50%;
    background-color: #fff;
    right: -30px;
    height: 70px;
    width: 70px;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;

    img{
      width: 100%;
    }
  }
}