header .head{
  background-color: black;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
}

nav{
  .scrolled &{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
  }
  background-color: white;
  .brand-logo{
    display: inline-block;
    height: 64px;
    img{
      max-height: 64px;
    }
  }
  a{
    color: black;
    position: relative;
    outline: none !important;
  }
  .main-menu {
    a{
      color: black;
      font-weight: 600;
    }
  }
  .nav-button{
    position: relative;
    z-index: 21;
    width: 26px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-top: 20px;
    span{
      width: 100%;
      float: left;
      margin-bottom: 4px;
      height: 2px;
      background: #000;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
  a.dropdown-trigger:after {
    border-color: black transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: calc(50% - 2px);
    right: 5px;
  }
}
.dropdown-content {
  overflow: visible;
  li{
    position: relative;
    .dropdown-content{
      top: 0 !important;
      left: 0 !important;
      transform: translateX(-100%) scaleX(1) scaleY(1) !important;

    }
  }

}
.collapsible-header:after {
  border-color: black transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 420px) {

  nav {
    position: fixed;
    top: 0;
    z-index: 22;
    .brand-logo img{
      width: 170px;
      margin-top: 5px;
    }
  }
}