/**
 Flex things
 */
.d-flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-align-stretch{
  align-content: stretch;
  align-items: stretch;
}
.flex-align-start{
  align-items: flex-start !important;
  align-content: flex-start !important;
}
.flex-align-end{
  align-items: flex-end !important;
  align-content: flex-end !important;
}
.justify-center{
  justify-content: center;
  justify-items: center;
}
.justify-space-around{
  justify-content: space-around;
}
.justify-space-between{
  justify-content: space-between;
}
.no-padding-left{
  padding-left: 0 !important;
}
.no-padding-right{
  padding-right: 0 !important;
}
.text-big{
  font-size: 1.3rem;
}
.w-100{
  width: 100%;
}
.bg-top{
  background-position: top;
}
.bg-center{
  background-position: center;
}
.bg-bottom{
  background-position: bottom !important;
}
.bg-cover{
  background-size: cover;
}

.images-grid{
  overflow: hidden;
  img{
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    width: calc(30% - 30px);
    max-width: 100px;
  }
}

.no-margin{
  margin: 0 !important;
}

.p-40{
  padding: 40px !important;
}
.p-t-70{
  padding-top: 70px !important;
}
.p-b-70{
  padding-bottom: 70px !important;
}

.m-t-30{
  margin-top: 30px;
}

.m-b-30{
  margin-bottom: 30px;
}
.text-right{
  text-align: right !important;
}
.abs-top-center{
  position: absolute;
  top: 0;
}
.bold{
  font-weight: 600;
}
@media screen and (max-width: 420px){
  .no-pad-on-small{
    padding: 0 !important;
  }
  .no-bg-on-small{
    background-image: none !important;
  }
}
