.single-header{
  height: 75vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  h1{
    width: 60%;
    margin: 50px 0;
    color: black;
    padding-left: 70px;
    position: relative;
    text-transform: uppercase;
    strong{
      color: black;
    }
    &:before{
      top: 30px;
      position: absolute;
      left: 0;
      content: "";
      height: 7px;
      display: inline-block;
      width: 60px;
      background-color: $tm-orange;
    }
  }
  .line-over{
    background: url(../assets/img/red-line.png) no-repeat center;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    width: 200px;
    background-size: 200px 100%;
    bottom: 0;
  }
  &:before{
    content: "";
    position: absolute;
    right: 0;
    width: calc(40% - 75px);
    height: 30px;
    top: 0;
    background-color: $tm-red;
  }
  &:after{
    content: "";
    position: absolute;
    left: 0;
    width: calc(60% - 75px);
    height: 30px;
    bottom: 0;
    background-color: $tm-red;
  }
}

.single-header-2{
  height: 85vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  h1{
    margin: 30px 40px;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    z-index: 2;
    strong{
      font-weight: 400;
      font-size: 7rem;
      display: block;

    }
    &:after{
      content: "";
      display: block;
      height: 3px;
      background-color: white;
      width: 100%;
      margin-top: 20px;
    }
  }
  .background-overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

/**
 * Used for products header
 */
.single-header-3{
  height: 95vh;
  min-height: 700px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  .product-image, .row .product-image{
    position: absolute;
    bottom: 30px;
    right: 0;
  }
  .container{
    height: 100%;
    position: relative;
  }
  .info{
    position: absolute;
    bottom: 30px;
    left: 0;
    img{
      max-width: 100%;
      max-height: 500px;
      margin-bottom: 20px;
    }
  }

  .title{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 50px;
    margin-top: 50px;
    background-color: $tm-orange;
    color: white;
    display: inline-block;
    font-weight: 400;
    min-width: 30%;
    padding: 10px 20px;
    h1{
      font-size: 3rem;
      margin: 10px 0;
    }
    strong{
      font-weight: 600;
      display: block;
    }
    img{
      max-height: 50vh;
    }
  }
}

.single-header-4{
  height: calc(90vh - 47px);
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
  .background-overlay{
    background-size: 75% 100%;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
    height: 100%;
  }
  .product-image{
    padding-top: 15%;
  }
  .title{
    z-index: 2;
    position: absolute;
    left: 0;
    color: #fff;
    top: 42%;
    transform: translateY(-50%);

    h1{
      font-size: 5rem;
      &.sm{
        font-size: 3.5rem;
      }
    }
  }
}
@media screen and (max-width: 940px){
  .single-header{
    h1{
      width: 60%;
    }
    .line-over{
      left: 70%;
    }
    &:before{
      width: calc(30% - 75px);
    }
    &:after{
      width: calc(70% - 75px);
    }
  }
  .single-header-2{
    height: 70vh;
  }
  .single-header-3{
    height: 600px;
    min-height: 0;

  }
}
@media screen and (max-width: 420px) {

  .single-header-2{
    justify-content: center;
    h1{
      font-size: 2rem;
      strong{
        font-size: 2.5rem;
      }
    }
  }
}