.page-hero{
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 700px;

  .slick-track{
    height: 99vh;
  }

  .slide-item{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: calc(100% + 40%);
      z-index: 1;
    }
    .title{
      font-size: 4rem;
      color: $tm-gray-2;
    }
    .info{
      width: 80%;
      max-width: 550px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      p, .like-p{
        color: $tm-gray-2;
        font-size: 1.7rem;
      }
    }
  }
}

@media screen and (max-width: 375px){
  .page-hero .slide-item .title{
    font-size: 3rem;
  }
}

.slider-clients {
  margin-top: 40px;
  .slide-item {
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    img {
      max-height: 140px;
    }
  }
}