$tm-orange: #ff1f01;
$tm-orange-2: #ff3e0a;
$tm-light-orange: #ff5e14;
$tm-table-orange: #ffd8a9;
$tm-table-gray: #d8d8d8;
$tm-gray: #3c3c3c;
$tm-gray-2: #474747;
$tm-light-gray: #e3e3e3;
$tm-red: #922421;

.tum-text-orange{
  color: $tm-orange !important;
}
.tum-orange{
  background-color: $tm-orange !important;
}
.tum-light-orange{
  background-color: $tm-light-orange !important;
}
.tum-text-red{
  color: $tm-red !important;
}
.tum-gray{
  background-color: $tm-gray;
}
.tum-text-gray{
  color: $tm-gray;
}
.bg-right{
  background-position: right !important;
}
.bg-contain{
  background-size: contain;
}
.like-p{
  font-size: 16px;
  color: black;
}
