@font-face {
  font-family: 'tumaca';
  src:  url('fonts/tumaca.eot?bt083p');
  src:  url('fonts/tumaca.eot?bt083p#iefix') format('embedded-opentype'),
    url('fonts/tumaca.ttf?bt083p') format('truetype'),
    url('fonts/tumaca.woff?bt083p') format('woff'),
    url('fonts/tumaca.svg?bt083p#tumaca') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tm-"], [class*=" tm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tumaca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-check:before {
  content: "\e920";
}
.tm-cargo:before {
  content: "\e900";
}
.tm-clean-floor:before {
  content: "\e901";
}
.tm-contract:before {
  content: "\e902";
}
.tm-crane:before {
  content: "\e903";
}
.tm-delivery-truck-1:before {
  content: "\e904";
}
.tm-delivery-truck:before {
  content: "\e905";
}
.tm-delivery-truck-with-packages-behind:before {
  content: "\e906";
}
.tm-factory:before {
  content: "\e907";
}
.tm-fast-delivery:before {
  content: "\e908";
}
.tm-forklift-with-boxes:before {
  content: "\e909";
}
.tm-frontal-truck:before {
  content: "\e90a";
}
.tm-fuel-truck:before {
  content: "\e90b";
}
.tm-gdpr:before {
  content: "\e90c";
}
.tm-generator:before {
  content: "\e90d";
}
.tm-icon:before {
  content: "\e90e";
}
.tm-insurance:before {
  content: "\e90f";
}
.tm-kitchen-oven:before {
  content: "\e910";
}
.tm-laundry-service:before {
  content: "\e911";
}
.tm-loader:before {
  content: "\e912";
}
.tm-oil-tank:before {
  content: "\e913";
}
.tm-sedan-car-model:before {
  content: "\e914";
}
.tm-shield:before {
  content: "\e915";
}
.tm-tanker-truck:before {
  content: "\e916";
}
.tm-tank-truck-1:before {
  content: "\e917";
}
.tm-tank-truck:before {
  content: "\e918";
}
.tm-wash:before {
  content: "\e919";
}
.tm-water-supply:before {
  content: "\e91a";
}
.tm-water-truck:before {
  content: "\e91b";
}
.tm-working-tools:before {
  content: "\e91c";
}
.tm-bar-code:before {
  content: "\e91d";
}
.tm-bike:before {
  content: "\e91e";
}
.tm-bus-side-view:before {
  content: "\e91f";
}
